.header__logo {
  background-image: url(../../../images/logo.svg);
  background-size: cover;
  display: block;
  width: 142px;
  height: 33px;
  font-size: 0;
}

@media screen and (max-width: 570px) {
  .header__logo {    
    width: 103.74px;
    height: 24.4px;
  }
}
