.form__input_auth:-webkit-autofill,
.form__input_auth:-webkit-autofill:hover, 
.form__input_auth:-webkit-autofill:focus {
  border: 1px solid border;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.form__inputs:-webkit-autofill,
.form__inputs:-webkit-autofill:hover, 
.form__inputs:-webkit-autofill:focus {
  border: 1px solid border;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}








.form__inputs {
  margin-top: 18px;
  padding: 0;
  border: 0;
}

@media screen and (max-width: 570px) {
  .form__inputs {
    margin-top: 12px;
  }
}
