.popup__caption {
  max-width: 240px;
  padding-top: 10px;
  font-family: Inter, ‘Arial’, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
