.profile__name {
  margin: 0;
  max-width: 400px;
  font-family: Inter, ‘Arial’, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


@media screen and (max-width: 570px) {
  .profile__name {
    max-width: 230px;
    font-size: 27px;
    line-height: 48px;
  }
}
