@import url(./__button/form__button.css);
@import url(./__heading/form__heading.css);
@import url(./__input/form__input.css);
@import url(./__inputs/form__inputs.css);
@import url(./__button/_disabled/form__button_disabled.css);
@import url(./__error/form__error.css);
@import url(./__error/_visible/form__error_visible.css);
@import url(./__input/_type_error/form__input_type_error.css);
@import url(./__heading/_auth/form__heading_auth.css);
@import url(./__input/_auth/form__input_auth.css);

.form {
  box-sizing: border-box;
  max-width: 358px;
  width: 100%;
}

@media screen and (max-width: 570px) {
  .form {
    max-width: 242px;
  }
}